*
!.bazelrc
!.bazelversion
!BUILD.bazel
!MODULE.bazel
!MODULE.bazel.lock
!third_party
!patcher
!web/main.py
!web/pobgen.py
!web/pobgen_en.py
!web/nebuloch/*.py
!web/nebuloch/data/*
!web/templates/*
patcher/Content.ggpk.d
patcher/out
patcher/bin
patcher/scripts/__pycache__
patcher/schema.min.json
