<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8">
  <title>Void Battery</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118381291-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-118381291-1');
  </script>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/kiajcecpeadokhboljndajchpgmekmbl">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    span.tagz {
      margin-right: 2em;
    }
  </style>
</head>

<body>
  <nav class="blue">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Void Battery</a>
    </div>
  </nav>

  <main class="container">
    <div class="section">

      <!--   Icon Section   -->
      <p>《流亡黯道 PoE》台服角色 POB（Path of Building）匯出工具</p>
      <form id="form" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <input type="text" id="accountName" name="accountName" value="{{ accountName }}">
            <label for="accountName">帳號</label>
          </div>
          <div class="input-field col s4">
            <input type="text" id="character" name="character" value="{{ character }}">
            <label for="character">角色名稱</label>
          </div>
          <div class="input-field col s2">
            <input class="btn" id="fsubmit" type="submit" value="送出">
          </div>
          <div class="input-field col s2">
            <a id="copyButton" data-clipboard-target="#pobcode" class="btn right">
              <i class="material-icons">content_copy</i>
            </a>
          </div>
        </div>
        <input type="hidden" id="data" name="data">
      </form>
      <div class="row">
        <code id="pobcode" style="word-break: break-all; white-space: pre-line">{{ data }}</code>
        <hr style="border: none">
      </div>
    </div>
  </main>
  <footer class="blue page-footer">
    <div class="container">
      <div class="row">
        <span class="tagz"><a class="grey-text text-lighten-3" href="https://docs.google.com/forms/d/1xCzS0IKkDNqtPP2xjbQZf1fNxNbqzM_MFU574TVXOU0" target="_blank">回報問題</a></span>
        <span class="tagz"><a class="grey-text text-lighten-3" href="https://forum.gamer.com.tw/C.php?bsn=18966&snA=113564" target="_blank">操作說明@巴哈姆特</a></span>
        <span class="tagz"><a class="grey-text text-lighten-3" href="https://github.com/afg984/void-battery" target="_blank">GitHub</a></span>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <span class="grey-text text-lighten-4">
          <span class="tagz">更新時間 / {{ version }}</span>
          <span class="tagz">相容版本 / {{ compat }}</span>
        </span>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    var extensionId = "kiajcecpeadokhboljndajchpgmekmbl";
    var clipboard = new ClipboardJS('#copyButton');
    clipboard.on('success', function clipboardOnSuccess(e) {
      var displayCopied = e.text;
      if (displayCopied.length > 40) {
        displayCopied = displayCopied.slice(0, 37) + "...";
      }
      M.toast({ html: "已複製：" + displayCopied });
      e.clearSelection();
    });
    clipboard.on('error', function clipboardOnError(e) {
      M.toast({ html: "無法自動複製，請使用滑鼠點三下 & Ctrl+C" });
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
    });
    function askForExtensionInstallation(message) {
      var pobcode = document.getElementById("pobcode");
      pobcode.innerHTML = '請先安裝 Chrome 擴充套件。<br><a href="https://chrome.google.com/webstore/detail/kiajcecpeadokhboljndajchpgmekmbl" target="_blank">前往 Chrome 線上應用程式商店</a>';
    }
    function sendMessage(message, canAskForInstallation) {
      var submit = document.getElementById("fsubmit");
      chrome.runtime.sendMessage(
        extensionId,
        message,
        function handleExtensionResponse(response) {
          if (response === undefined) {
            if (canAskForInstallation) {
              askForExtensionInstallation(message);
            } else {
              description = "錯誤：無法與擴充套件溝通";
            }
          } else if (response.error !== undefined) {
            var description;
            if (response.status == 500) {
              description = "Garena 伺服器錯誤";
            } else if (response.status == 404) {
              description = "帳號或角色名稱不正確（區分大小寫）";
            } else if (response.status == 403) {
              description = "角色資訊未公開";
            } else {
              description = "未知錯誤";
            }
            pobcode.innerText = "錯誤：" + description;
          } else {
            document.getElementById("data").value = JSON.stringify(response);
            document.getElementById("form").submit();
            return;  // do not enable button
          }
          submit.disabled = false;
          submit.value = "送出";
        }
      );
    }
    document.getElementById("form").onsubmit = function onsubmit() {
      try {
        var pobcode = document.getElementById("pobcode");
        var submit = document.getElementById("fsubmit");
        if (!window.chrome) {
          pobcode.innerText = "請使用 Chrome 瀏覽器";
          return false;
        }
        submit.disabled = true;
        submit.value = "處理中...";
        var accountName = document.getElementById("accountName").value;
        var character = document.getElementById("character").value;
        var message = { accountName: accountName, character: character };
        window.history.pushState({}, "", "?accountName=" + encodeURIComponent(accountName) + "&character=" + encodeURIComponent(character));
        if (chrome.runtime === undefined) {
          askForExtensionInstallation(message);
          submit.disabled = false;
          submit.value = "送出";
        } else {
          sendMessage(message, true);
        }
      } catch (err) {
        pobcode.innerText = "錯誤：" + err;
        submit.disabled = false;
        submit.value = "送出";
      } finally {
        return false;
      }
    };
  </script>
</body>

</html>
