{% extends 'base.html' %}

{% block main %}
<h1>Privacy Policy</h1>
<p>This privacy policy outlines the practices of this site and the Path of Building Exporter extension and explains how we collect, use, store, and potentially share your data.</p>

<h2>Information We Collect</h2>
<ul>
  <li><strong>Game Character Data:</strong> The extension will access and collect game character data on your request from pathofexile.tw. This data is essential for the extension to provide its core functionality to translate and export your game character data.</li>
  <li><strong>Website Usage Data:</strong> We use Google Analytics to collect standard website usage data, including:
    <ul>
      <li>Device and browser information</li>
      <li>Pages visited on our website</li>
      <li>How you interact with our website</li>
      <li>Your general geographic location (derived from IP address)</li>
    </ul>
  </li>
</ul>
<h2>How We Use Your Information</h2>
<ul>
  <li><strong>Translation Services:</strong> We use your game character data solely to facilitate translation and export services on our website.</li>
  <li><strong>Web Analytics:</strong> Data collected by Google Analytics allows us to analyze how our site is used. This helps us understand user needs and make improvements to the user experience.</li>
</ul>

<h2>Data Storage and Security</h2>
<ul>
  <li><strong>Data Retention:</strong> We retain game character data only for the duration necessary to provide the translation service. Website usage data may be stored for longer periods to understand long-term usage patterns.</li>
  <li><strong>Data Security:</strong> We employ reasonable technical and organizational security measures to safeguard your data against unauthorized access, loss, or misuse. </li>
</ul>

<h2>Data Sharing</h2>
<ul>
  <li><strong>Third-Party Services:</strong> We utilize Google Analytics to track website usage, which involves sharing some data with Google. Please refer to Google's Privacy Policy for information on how they manage data: <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a></li>
  <li><strong>Other Disclosures:</strong> We may disclose your information if required to do so by law, or where necessary to protect our legal rights or defend against legal actions.</li>
</ul>
{% endblock %}

{% block footerdiv %}
{% endblock %}
