on:
  push:
    branches: [main]
  pull_request:
name: test

defaults:
  run:
    working-directory: patcher

jobs:
  patcher-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v2
      with:
        go-version: 1.x
    - run: go test -v ./...

  web-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - run: sudo apt-get install -y ninja-build cmake libsodium-dev libunistring-dev
    - uses: actions/setup-go@v2
      with:
        go-version: 1.x
    - uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - run: python -m pip install virtualenv meson

    - run: ./install.sh
    - run: ./main.sh
    - run: ./release.sh

    - run: python -m pip install -r requirements.txt -r test-requirements.txt
      working-directory: web
    - run: python -m pytest tests
      working-directory: web
      timeout-minutes: 2
    # It works on my machine ¯\_(ツ)_/¯
    # - run: xvfb-run python -m pytest integration_test.py
    #   working-directory: web
    #   timeout-minutes: 2
